@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradient-text {
  background: linear-gradient(90deg, #ff00ff, #8000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.waitlist-heading {
  color: var(--Greyscale-100, #fff);
  text-align: center;
  font-family: "PolySans Bulky Wide", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
